.navLinkLabel {
  display: flex;
  align-items: left;
  padding: 0.5em;
}

.icon {
  margin-top: 3px;
  margin-right: 8px;
}

.actionIcon {
  margin: 30px;
  outline: none;
  color: black;
}

.drawerTitle {
  font-weight: bold;
  padding: 1em;
}
