.headerCell {
  text-align: left;
  cursor: pointer;
}

.tableRow {
  height: 3em;
}

.tableRow:hover {
  background-color: #f5f5f5; /* Add a light background on hover */
}

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.controls {
  margin-bottom: 1em;
  display: flex;
  justify-content: center; /* Center the controls */
}

.select {
  width: 150px;
}

.paginationContainer {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em; /* Add spacing between Select and Pagination */
}

@media (max-width: 768px) {
  .tableRow {
    font-size: 0.9rem;
  }

  .paginationContainer {
    flex-direction: column;
    gap: 0.5em;
  }

  .select {
    width: 100%;
  }
}
